body {
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to right, #ffffff, #ffffff);
    margin: 0;
    padding: 0; 
}  



li a {
    color: #ffffff;
    text-decoration: none;
}

li a:hover {
    color: rgb(228, 3, 253);
    opacity: 0.8;
}

.Logo1 p {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(19, 19, 19);
    height: 8vh;
    padding: 20px 15px;
    position: sticky; top: 0;
    backdrop-filter: blur(45px);
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

button {
    background-color: rgb(251, 104, 24);
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-family:system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
}

video {
    width: 100%;
    height: auto;
}

